In [48]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from env import key, client
import datetime
from datetime import date
from datetime import datetime, timedelta
from dateutil.relativedelta import *

import re

import json

import climacell_api

In [2]:
# # This request is the San Antonio Botanical Garden. It returns realtime data for the identified fields.
# response = client.realtime(lat= 29.4576, lon=98.4587, 
#                            fields=['precipitation', 'temp', 'humidity', 'wind_speed', 'cloud_cover'])
# # Returns status code (Query Successful or Not)
# print(response.status_code)
# # Create df of results to visualize
# data = response.json()
# df = pd.DataFrame(data)
# df.head()

In [3]:
# #from climacell_api import ClimacellApiClient
# r = client.historical_station(lat=40, lon=50, start_time='2021-01-22T20:47:00Z', end_time='now', fields=['temp', 'wind_gust'])
# r.status_code

## Historical Climacell
`Data returned is a list of forecast data for a specific location up to 6 hours in the past.`

In [4]:
# stop = datetime.now().isoformat()
# start = (datetime.now() - timedelta(hours=6)).isoformat()

# url = "https://api.climacell.co/v3/weather/historical/climacell"

# querystring = {'lat': 40, 
#                'lon': 50,
#                "timestep":30,
#                "unit_system":"si",
#                "apikey":key, 
#                "start_time": start, 
#                "end_time": stop }

# response = requests.request("GET", url, params=querystring)
# data = response.json()
# df_clima = pd.DataFrame(data)
# df_clima.head(5)

## Historical Station
`24 hours in the past'

In [62]:
stop = datetime.now().isoformat()
start = (datetime.now() - relativedelta(days=1)).isoformat()

url = "https://api.climacell.co/v3/weather/historical/station"

querystring = {'lat': 30, 
               'lon': 40,
               "unit_system":"si",
               "apikey":key,
               "start_time": start, 
               "end_time": stop,
               "fields":['temp','precipitation','humidity','baro_pressure'],
              }


response = requests.request("GET", url, params=querystring)
data = response.json()
df_hist = pd.DataFrame(data)
df_hist.head(5)
# #df_hist.to_csv('climate_data.csv')

,temp,baro_pressure,humidity,precipitation,observation_time
0,"{'value': 14, 'units': 'C'}","{'value': 1022, 'units': 'hPa'}","{'value': None, 'units': '%'}","{'value': None, 'units': 'mm/hr'}",{'value': '2021-01-24T16:00:00.000Z'}
1,"{'value': 13, 'units': 'C'}","{'value': 1022, 'units': 'hPa'}","{'value': None, 'units': '%'}","{'value': None, 'units': 'mm/hr'}",{'value': '2021-01-24T17:00:00.000Z'}
2,"{'value': 12, 'units': 'C'}","{'value': 1023, 'units': 'hPa'}","{'value': None, 'units': '%'}","{'value': None, 'units': 'mm/hr'}",{'value': '2021-01-24T18:00:00.000Z'}
3,"{'value': 11, 'units': 'C'}","{'value': 1023, 'units': 'hPa'}","{'value': None, 'units': '%'}","{'value': None, 'units': 'mm/hr'}",{'value': '2021-01-24T19:00:00.000Z'}
4,"{'value': 10, 'units': 'C'}","{'value': 1023, 'units': 'hPa'}","{'value': None, 'units': '%'}","{'value': None, 'units': 'mm/hr'}",{'value': '2021-01-24T20:00:00.000Z'}

### Unpack Column and turn it in to individual colums in data frame

In [72]:
string = '{'value': 14, 'units': 'C'}'
digit = re.sub(r'\D', df_hist)

TypeError: sub() missing 1 required positional argument: 'string'

In [60]:
pattern = r'[0-9]'

df.replace(pattern)

0      {'value': 8, 'units': 'C'}
1      {'value': 7, 'units': 'C'}
2      {'value': 6, 'units': 'C'}
3      {'value': 6, 'units': 'C'}
4      {'value': 5, 'units': 'C'}
5      {'value': 4, 'units': 'C'}
6      {'value': 4, 'units': 'C'}
7      {'value': 4, 'units': 'C'}
8      {'value': 3, 'units': 'C'}
9      {'value': 3, 'units': 'C'}
10     {'value': 2, 'units': 'C'}
11     {'value': 2, 'units': 'C'}
12     {'value': 1, 'units': 'C'}
13     {'value': 1, 'units': 'C'}
14     {'value': 4, 'units': 'C'}
15     {'value': 6, 'units': 'C'}
16     {'value': 7, 'units': 'C'}
17     {'value': 9, 'units': 'C'}
18    {'value': 10, 'units': 'C'}
19    {'value': 11, 'units': 'C'}
20    {'value': 12, 'units': 'C'}
21    {'value': 12, 'units': 'C'}
22    {'value': 11, 'units': 'C'}
23    {'value': 10, 'units': 'C'}
Name: temp, dtype: object

In [42]:
# temp = df_hist['temp'].apply(pd.Series)
# temp.rename(columns={'value':'temp_in_c'}, inplace = True)
# temp.head()


def unpack(df, column, fillna=None):
    ret = None
    tmp = pd.DataFrame((d for idx, d in df[column].iteritems())).fillna(fillna)
    ret = pd.concat([df.drop(column,axis=1), tmp], axis=1)
    return ret

unpack(df,'temp',0)

                              0
0    {'value': 8, 'units': 'C'}
1    {'value': 7, 'units': 'C'}
2    {'value': 6, 'units': 'C'}
3    {'value': 6, 'units': 'C'}
4    {'value': 5, 'units': 'C'}
5    {'value': 4, 'units': 'C'}
6    {'value': 4, 'units': 'C'}
7    {'value': 4, 'units': 'C'}
8    {'value': 3, 'units': 'C'}
9    {'value': 3, 'units': 'C'}
10   {'value': 2, 'units': 'C'}
11   {'value': 2, 'units': 'C'}
12   {'value': 1, 'units': 'C'}
13   {'value': 1, 'units': 'C'}
14   {'value': 4, 'units': 'C'}
15   {'value': 6, 'units': 'C'}
16   {'value': 7, 'units': 'C'}
17   {'value': 9, 'units': 'C'}
18  {'value': 10, 'units': 'C'}
19  {'value': 11, 'units': 'C'}
20  {'value': 12, 'units': 'C'}
21  {'value': 12, 'units': 'C'}
22  {'value': 11, 'units': 'C'}
23  {'value': 10, 'units': 'C'}

In [9]:
# temp.drop(columns=['units'], inplace = True)
# temp_df = pd.DataFrame(temp)
# temp_df
tf = pd.DataFrame([
        {'id': 1, 'nested': {'a': 1, 'b': 2} },
        {'id': 2, 'nested': {'a': 2, 'b': 4} },
        {'id': 3, 'nested': {'a': 3, 'b': 6} },
        {'id': 4, 'nested': {'a': 4}},
    ])
tf.head()

   id            nested
0   1  {'a': 1, 'b': 2}
1   2  {'a': 2, 'b': 4}
2   3  {'a': 3, 'b': 6}
3   4          {'a': 4}

In [10]:
def unpack(df, column, fillna=None):
    ret = None
    if fillna is None:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems()))], axis=1)
        del ret[column]
    else:
        ret = pd.concat([df, pd.DataFrame((d for idx, d in df[column].iteritems())).fillna(fillna)], axis=1)
        del ret[column]
    return ret

unpack(tf, 'nested', 0)

   id  a    b
0   1  1  2.0
1   2  2  4.0
2   3  3  6.0
3   4  4  0.0

In [11]:
df = pd.concat([df, pd.DataFrame(list(df['run_info'])).fillna(0).astype(int)], axis=1)

NameError: name 'df' is not defined

### Append to DF

In [ ]:
result = pd.concat([df_hist, temp], axis=1)
result

In [ ]:
now = datetime.now()
year = '{:02d}'.format(now.year)
month = '{:02d}'.format(now.month)
day = '{:02d}'.format(now.day)
hour = '{:02d}'.format(now.hour)
minute = '{:02d}'.format(now.minute)
day_month_year_hour_now = '{}-{}-{}-{}'.format(year, month, day, hour)
day_month_year_hour_now

In [ ]:
six_hour_ago = datetime.now() - timedelta(hours=6)
year = '{:02d}'.format(six_hour_ago.year)
month = '{:02d}'.format(six_hour_ago.month)
day = '{:02d}'.format(six_hour_ago.day)
hour = '{:02d}'.format(six_hour_ago.hour)
minute = '{:02d}'.format(six_hour_ago.minute)
day_month_year_hour_past = '{}-{}-{}-{}'.format(year, month, day, hour)
day_month_year_hour_past

In [ ]:
start = datetime.now().isoformat()
start

In [ ]:
stop = (datetime.now() - relativedelta(months=4)).isoformat()
stop